@charset "UTF-8";
.right {
  float: right; }

.left {
  float: left; }

.clearfix {
  overflow: hidden; }

* html .clearfix {
  zoom: 1; }

html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Hiragino Kaku Gothic Pro", "MS P Gothic",; }

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Hiragino Kaku Gothic Pro", "MS P Gothic",;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #460a0a; }
  body #wrapper {
    width: 960px;
    margin-right: auto;
    margin-left: auto; }
    body #wrapper #header {
      width: 100%;
      height: 100px; }
      body #wrapper #header p {
        margin: 0;
        color: #dd4830;
        font-size: 85%; }
    body #wrapper #footer {
      width: 100%;
      height: 50px; }
      body #wrapper #footer p {
        text-align: center;
        font-size: 80%;
        color: #fff; }
        body #wrapper #footer p a {
          font-size: 80%;
          color: #fff; }
    body #wrapper #container {
      padding: 10px;
      background-color: #dd4830;
      color: #fff; }
      body #wrapper #container #show_new_meegen {
        width: 300px;
        margin: 0;
        cursor: pointer; }
        body #wrapper #container #show_new_meegen span {
          line-height: 3.5em; }
      body #wrapper #container #show_new_meegen:hover {
        background-color: #b7a75c;
        font-weight: bold; }
      body #wrapper #container #meegen_list li {
        cursor: pointer;
        padding: 5px;
        font-size: 100%;
        line-height: 1.5em; }
        body #wrapper #container #meegen_list li p {
          margin: 5px;
          padding-bottom: 5px; }
          body #wrapper #container #meegen_list li p.content {
            border-bottom-width: 1px;
            border-bottom-style: dashed;
            border-bottom-color: gray; }
          body #wrapper #container #meegen_list li p.ctrl_panel {
            display: none; }
      body #wrapper #container #meegen_list li:hover {
        background-color: #b7a75c; }
        body #wrapper #container #meegen_list li:hover .ctrl_panel {
          display: block; }

#meegen_new {
  background-color: #b7a75c;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  text-align: right;
  padding: 5px; }
  #meegen_new p {
    margin: 0; }
    #meegen_new p #meegen_name {
      font-size: 150%;
      border-width: 0;
      border-style: none;
      border-color: none; }
