<% content_for :title do -%>
  <%= "#{@tag.name} - " %>
<% end -%>
<div id="tag_show">
  <h1><%= @tag %></h1>

  <% if @meegens -%>
    <ul>
      <% @meegens.each do |meegen| -%>
        <li>
          <%= link_to meegen.name, meegen %>
        </li>
      <% end -%>
    </ul>
  <% end -%>
</div>



